.orders {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  

  .h1, h1 {
    font-size: 2.5rem;
}
h2, h3{
    text-align: center;
    font-weight: lighter;
}
fieldset {
    min-width: 0;
    padding: 1rem 0;
    margin: 0;
    border: 0;
}



.form--login > fieldset > input[type="email"],
.form--login > fieldset > input[type="password"] {
    width: 25em;
}


.form-control {
    display: block;
    width: 94%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    -webkit-transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    box-shadow:         inset 0 0 4px rgba(0,0,0,0.5);
}




.button--close {
    position: relative;
    bottom: -2rem;
}

.dialog {
    min-width: 15rem;
    min-height: 5rem;
}

.orderForm{
    display: flex;
    flex-direction: column;
}


.buttonDiv{
    display: flex;
    margin-top: 1%;
}

.test, .hiddenDiv{
    display: flex;
    flex-direction: column;
}

.testForm{
    display: flex;
    justify-content: center;
}

.form-group{
    display: flex;
}

.testDiv{
    display: flex;
    flex-direction: column;
    padding: 2%;
    border: 2px solid white;
    border-radius: 10px;
    margin-top: 2%;
    color: white;
    border: 3px solid #f1f1f1;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.5);
    z-index: 2;
    background-color:  rgba(0,0,0, 0.6);;
}

fieldset{
    margin: 1%;
}

.animalButton{
    display: flex;
    justify-content: space-evenly;
}

.buttons{
    display: flex;
    justify-content: space-evenly;
}

.orderDiv{
    display: flex;
    flex-direction: row;
}

.orderCard{
    margin: 1em;
    padding: 1em;
    color: white;
    border: 3px solid #f1f1f1;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.5);
    z-index: 2;
    background-color:  rgba(0,0,0, 0.6);;
    width: 350px;
}

.adminHome{
    display: flex;
    justify-content: space-evenly;
}

.test--center{
    border-left: 1px solid black;
    border-right: 1px solid black;
    width: 33%;
}

.dynamicHistoryResponses{
    color: white;
}

.test--left, .test--right{
    flex-direction: column;
    justify-content: center;
}

